/*Desktop*/
@media screen and (max-width:1300px) {
    /*Imagem*/
    img{
        width: 30%; /*Largura de 30%*/
    }

    /*Titulo*/
    h1{
        font-size: 1.7rem; /*Tamanho da Fonte*/
    }

    /*Paragrafos e Links*/
    p, a{
        font-size: 0.9rem; /*Tamanho da Fonte*/
    }
}

/*Tablet*/
@media screen and (max-width:840px) {
    /*Parágrafos*/
    p, a{
        font-size: 0.8rem; /*Tamanho da Fonte*/
    }

    /*Rodapé*/
    footer{
        position: fixed; /*Posição Fixa*/
        bottom: 0; /*Alinha no Final da Tela*/
    }
}

/*Celular*/
@media screen and (max-width:583px) {
    /*Titulo*/
    h1{
        font-size: 0.7rem,; /*Tamanho da Fonte*/
    }

    /*Paragrafos e Links*/
    p, a{
        font-size: 0.7rem; /*Tamanho da Fonte*/
    }

    /*Menu de Navegação*/
    nav.navbar-navigation{
        justify-content: flex-start; /*Alinha itens a esquerda*/
    }

    /*Links do Botão de Navegação*/
    nav a{
        padding: 0.8rem 3rem; /*Espaçamento Interno*/
        text-align: center; /*Alinha ao Centro*/
    }

    /*Icone do Menu*/
    .nav-btn{
        display: block; /*Deixa o botão Visivel*/
    }

    /*Conteudo do Menu de Navegação*/
    .navbar-content{
        display: none; /*Esconde o Conteúdo*/
    }

    /*Menu de Navegação*/
    nav.navbar-navigation{
        padding: 1.5rem; /*Espaçamento Interno*/
    }
}

/*Celular Menor*/
@media screen and (max-width:426px) {
    /*Titulo*/
    h1{
        font-size: 1.2rem; /*Tamanho da Fonte*/
    }
    p, a{
        font-size: 0.6rem; /*Tamanho da Fonte*/
    }   

    /*Menu de Navegação*/
    nav.navbar-navigation{
        padding: 1.5rem; /*Espaçamento Interno*/
    }

    /*Icone do Menu de Navegação*/
    .nav-btn{
        font-size: 18px; /*Tamanho da Fonte*/
    }

    /*Links do Botão de Navegação*/
    nav a{
        padding: 0.6rem 2rem; /*Espaçamento Interno*/
    }
}

/*Celular Menor*/
@media screen and (max-width:376px) {
    /*Titulo*/
    h1{
        font-size: 1.5rem; /*Tamanho da Fonte*/
    }

    /*Paragráfo e Links de Navegação*/
    p, a{
        font-size: 0.5rem; /*Tamanho da Fonte*/
    }
}